<nav class="navbar">
  <div class="logo">
    <span>WEBSHOP</span>
  </div>
  <div class="nav-links">
    <a routerLink="/home" class="nav-item">
      <span>Főoldal</span>
      <img src="assets/Icons/HomePage_Icon.png" alt="HomePage_Icon" class="icons">
    </a>
    <a routerLink="/products" class="nav-item">
      <span>Termékek</span>
      <img src="assets/Icons/Products_Icon.png" alt="Products_Icon" class="icons">
    </a>
    <a routerLink="/contact" class="nav-item">
      <span>Kapcsolat</span>
      <img src="assets/Icons/Contacts_Icon.png" alt="Contacts_Icon" class="icons">
    </a>
    <a routerLink="/login" class="nav-item">
      <span>Regisztráció/Belépés</span>
      <img src="assets/Icons/Registration_Icon.png" alt="Registration_Icon" class="icons">
    </a>
    <a routerLink="/user" class="login-icon">
      <img src="assets/Icons/Login_Icon.png" alt="Login_Icon" class="log">
    </a>
  </div>
</nav>